.payment-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(90deg, #18142c, #242450, #18142c);
  padding: 20px;
}

.payment-card {
  background-color: #18142c;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 500px;
}

.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
}

.payment-options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.payment-button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 48%;
}

.payment-button.active {
  background-color: #4caf50;
  color: white;
  border-color: #4caf50;
}

.payment-form, .address-form {
  margin-bottom: 20px;
}

.payment-form .row, .address-form .row {
  display: flex;
  justify-content: space-between;
}

.payment-form .row div, .address-form .row div {
  width: 48%;
}

label {
  font-weight: 600;
  margin-bottom: 5px;
  display: block;
  color: white;
}

h4 {
  color: white;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #242450;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 16px;
  color: white;
  background-color: #242450;
}


input:focus, textarea:focus {
  border-color: #4caf50;
  outline: none;
}

input:focus {
  border-color: #4caf50;
  outline: none;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.confirm-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 18px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.confirm-button:hover {
  background-color: #0056b3;
}

