.card-body .btn {
  width: 100%;
}

table th, table td {
  color: white;
  padding: 55px;
}

.card {
  background-color: #18142c;
  color: white;
}

.card .card-title {
  color: white;
}

.total-container h6 {
  color: white;
}












